@tailwind base;
@tailwind components;
@tailwind utilities;
/* App.css or index.css */
body {
  background-image: url("/harry-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
